TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=static
IPADDR=###NODE_IP###
NETMASK=###NODE_NETMASK###
GATEWAY=###NODE_GATEWAY###
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
NAME=###NODE_DEVICE_NAME###
DEVICE=###NODE_DEVICE_NAME###
ONBOOT=yes
DOMAIN=###DNS_DOMAIN###
DNS1=###DNS_IP###
